<!-- 試しStyrus -->
    form
    input(type='radio' name='tab')#menu
    .container
      input(type='radio' name='tab' checked)#home
      section.home
        h1 Home
        label(for='home')
      input(type='radio' name='tab')#about
      section.about
        h1 About
        label(for='about')
      input(type='radio' name='tab')#work
      section.work
        h1 Work
        label(for='work')
      input(type='radio' name='tab')#contact
      section.contact
        h1 Contact
        label(for='contact')
    .menu
      div
        label(for='menu')
        label(for='home')
